<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Servlets -->
	<servlet>
		<servlet-name>RPCServlet</servlet-name>
		<servlet-class>cz.cvut.felk.via.examples.datastore.server.RPCServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RPCServlet</servlet-name>
		<url-pattern>
			/datastore/RPC</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Datastore.html</welcome-file>
	</welcome-file-list>

</web-app>
